   /*======== ESTILO GENERAL GENERAL (ESTANDAR) ==========
   Estas clases se usan en TODO el sitio: header, main,
   footer, formularios, p1.html, etc.
   Usen estas clases para mantener un estilo unificado. */


   .titulo {
       font-family: 'Courier New', Courier, monospace;
       color: white;
       letter-spacing: 10px;
       font-size: 1.2em;
   }

   .subtitulo {
       font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
       font-size: 25px;
       font-weight: 600px;
       color: black;
       text-align: left;
       margin-bottom: 10px;
       padding-left: 10px;
   }

   .texto {
       font-family: Arial, sans-serif;
       font-size: 16px;
       color: #e0e0e0;
       line-height: 1.5;
       margin-bottom: 10px;
       text-align: justify;
   }



   /* ====== ESTILO GENERAL PARA EL HEADER====== */
   .logo-titulo {
       display: flex;
       align-items: center;

   }

   .logo-mini {
       width: 150px;
       height: auto;
       padding-left: 50px;
   }

   .encabezado {
       background-color: black;
       height: 100px;
       width: 100%;
       display: flex;
       justify-content: space-between;
       align-items: center;
       position: fixed;
       z-index: 1000;
       /* Asegura que el encabezado esté por encima de otros elementos */
   }

   /*estilo para la hamburguesa*/
   .icono-hamburguesa {
       display: none;
       font-size: 2em;
       color: white;
       cursor: pointer;
       margin-left: 10px;
   }

   @media (max-width: 1600px) {

       /*que tanto puedes achicarlo para que muestre la hamburguesita*/
       .menu {
           display: none;
           flex-direction: column;
           background: #111;
           position: absolute;
           top: 60px;
           left: 0;
           width: 100%;
           padding: 10px 0;
       }

       #hamburguesa:checked~.menu {
           display: flex;
       }

       .icono-hamburguesa {
           display: block;
       }

       .menu a {
           padding: 10px;
           border-bottom: 1px solid #333;

       }

       .btn-socio,
       .redes {
           /*oculta cuando lo achicamos*/
           display: none;
       }
   }

   .menu a {
       color: white;
       margin: 0 10px;
       text-decoration: none;
       font-weight: bold;
       font-family: 'Courier New', Courier, monospace;
       letter-spacing: 5px;
   }

   .menu a:hover {
       color: grey;
   }

   .acciones {
       display: flex;
       align-items: center;
   }

   .menu a.activo {
       color: rgb(135, 135, 135);
       border-bottom: 3px solid grey;
   }

   .btn-socio {
       background: transparent;
       color: white;
       border: 2px solid gray;
       border-radius: 20px;
       padding: 5px 15px;
       margin-right: 15px;
       font-weight: 20px;
       font-family: 'Courier New', Courier, monospace;
       font-weight: bold;
       cursor: pointer;
   }

   .btn-socio:hover {
       background-color: lightgray;
       transform: scale(1.1);
   }

   .redes a {
       color: white;
       margin: 0 5px;
       font-size: 2.4em;
   }

   .perfil-icon {
       width: 40px;
       height: 40px;
       margin: 0 20px;
       border-radius: 50%;
       background-color: rgba(255, 255, 255, 0);

   }

   /* ====== ESTILO GENERAL PARA EL MAIN====== */

   /* carrusel */

   #conteItemsCarrusel {
       height: 800px;
       margin-top: 100px;
       overflow: hidden;
       position: relative;
   }

   .carrusel-inner {
       display: flex;
       height: 100%;
       overflow-x: scroll;
       scroll-snap-type: x mandatory;
       scroll-behavior: smooth;
       -webkit-overflow-scrolling: touch;
       
   }

   .item-carrusel {
       flex: 0 0 100%;
       scroll-snap-align: start;
       position: relative;
   }

   .item-carrusel img {
       width: 100%;
       height: 100%;
       object-fit: cover;
   }

   .flecha-carrusel {
       position: absolute;
       top: 0;
       height: 100%;
       width: 100%;
       display: flex;
       align-items: center;
       justify-content: space-between;
       padding: 50px;
       z-index: 5;
       pointer-events: none;
       /* para que el click pase a los botones */
   }

   .flecha-carrusel button {
       background: none;
       border: none;
       cursor: pointer;
       pointer-events: all;
   }

   .flecha-carrusel i {
       font-size: 2em;
       color: white;
       transition: transform 1.3s ease;
   }

   .flecha-carrusel i:hover {
       transform: scale(1.2);
       background-color: #111;
       border-radius: 50px;
       padding: 10px;
   }

   /*carrusel*/

   .fondo {
       /* Esta clase estaba sin usar para la imagen */
       background-image: url(../img/preview.jpg);
       background-size: cover;
       /* Cubre toda la pagina con la imagen (creo q también la estira) */
       background-attachment: fixed;
       /* Hace que la img quede estática */
       margin: 0%;
       /* Corta los bordes de los lados que tenía el cuadro de navegación */
       display: flex;
       flex-direction: column;
       min-height: 100vh;
   }


   .fondo-peliculas {
       background-color: white;
       box-shadow: inset 0px 0px 22px -3px #000000;
       padding: 100px;
       display: block;
       max-width: 100%;
       overflow-x: auto;
       white-space: nowrap;
       width: 100%;
   }

   .pelicula {
       width: 180px;
       height: 550px;
       border-radius: 10px;
       margin: 30px;
       /*espaciado mejor*/
       object-fit: cover;
       border: 1px solid #444;
       transition: transform 0.3s ease;
       box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
       display: inline-block;
   }

   /* Hover para efecto visual al pasar el mouse */
   .pelicula:hover {
       transform: scale(1.05);
   }

   .tabla-peliculas {
    overflow-x: auto;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    }


   /* ====== ESTILO GENERAL PARA EL FOUTER====== */
   * {
       list-style: none;
       margin: 0;
       padding: 0;
       box-sizing: border-box;

   }

   .footer {
       background-color: rgb(0, 0, 0);
       padding: 80px 0px;
       color: rgb(255, 255, 255);

   }

   .footer-content {
       max-width: 1200px;
       margin: 0 auto;

   }

   .footer-row {
       display: flex;
       flex-wrap: wrap;
   }

   .footer-links {
       width: 25%;
       padding: 0 15px;
   }

   .footer-links h4 {
       font-size: 20px;
       color: white;
       margin-bottom: 25px;
       font-weight: 500;
       border-bottom: 2px solid #ffffff;
       padding-bottom: 10px;
       display: inline-block;
   }

   .footer-links ul li a {
       font-size: 18px;
       text-decoration: none;
       color: #BBBBBB;
       display: block;
       margin-bottom: 15px;
       transition: all .3s ease;
   }

   .footer-links ul li a:hover {
       color: #ffffff;
       padding-left: 6px;
   }

   .social-link a {
       display: inline-block;
       min-height: 40px;
       width: 40px;
       background-color: rgba(255, 255, 255, 0.2);
       margin: 0 10px 10px 0;
       text-align: center;
       line-height: 40px;
       border-radius: 50%;
       color: #ffffff;
       transition: all .5s ease;

   }

   .social-link a:hover {
       background-color: #ffffff;
       color: #000000;
   }

   @media (max-width:991px) {
       .footer-row {
           text-align: center;
       }

       .footer-links {
           width: 100%;
           margin-bottom: 30px;
       }
   }

   .cinestbl {
       background-color: azure;
       border-radius: 10px;
       margin: 30px;
       /*espaciado mejor*/
       object-fit: cover;
       border: 1px solid #444;
       transition: transform 0.3s ease;
       box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
   }

   /* clase de las tablas de los cines */
   .img-cines {
       width: 500px;
       height: 300px;
       border-radius: 10px;
       margin: 30px;
       /*espaciado mejor*/
       object-fit: cover;
       border: 1px solid #444;
       transition: transform 0.3s ease;
       box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
   }

   /* clase de text de las tablas de cine.html */
   .cines-tbltext {
       text-align: center;
       vertical-align: middle;
       width: 500px;
       height: 300px;
       font-size: 30px;
       padding: 0 20px;
       color: rgb(29, 28, 28);
       display: flex;
       justify-content: center;
       padding-top: 60px;
   }

   /* clase de configuración de los elementos de las tablas de cines.html */
   .horario-configposicion-textbtn {
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: flex-start;
       gap: 20px;
   }

   /* clase de text de las tablas de cines.html */
   .btn-horario {
       margin-top: 20px;
       font-size: 20px;
       padding: 10px 20px;
       background-color: #333;
       color: white;
       border: none;
       border-radius: 8px;
       cursor: pointer;
       transition: .3s;
   }

   /* clase de boton de la tabla en cines.html */
   .btn-horario:hover {
       background-color: #bf6e6e;
       transform: scale(1.1);
   }

   /* clase de tabla horarios del modal cine1 en cines.html */
   .cines-horarios {
       background-color: azure;
       width: 90%;
       padding: 8px;
       text-align: center;
       border-collapse: collapse;
       border-radius: 10px;
       margin: 30px;
       /*espaciado mejor*/
       border: 1px solid #444;
       transition: transform 0.3s ease;
       box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
   }

   /* Opcional: Estilos para celdas */
   .cines-horarios th,
   .cines-horarios td {
       padding: 12px;
       border: 1px solid #bf6e6e;
   }

   /* clase de color de las tablas del horario de cines.html */
   .cines-horarios th {
       background-color: #68a5ef;
   }