.anticipio {
    position: relative;
    background-color: rgba(0, 0, 0, 0.66);
    /* Fondo casi negro */
    padding: 40px;
    max-width: 10000px;
    /*ancho del bloque*/
    clip-path: polygon(0 0, 43% 0, 75% 100%, 0% 100%);
    color: wheat;
    flex: 1 1 500px;
    /* Ocupa espacio flexible mínimo 500px */
    border-left: 0px;
}

.contenido-anticipio {
    display: flex;
    flex-wrap: wrap;
    /*los elementos bajan si no caben(responsive)*/

    align-items: flex-start;
    /*coloca los items a la izq*/
    justify-content: center;
    gap: 30px;
    /*espacio entre texto y img*/

}

.texto-anticipio {
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    max-width: 50%;
    font-size: 20px;

}

.imagen-anticipio img {
    max-width: 700px;
    height: auto;
    border-radius: 10px;
    position: relative;
    top: 130px;
    right: 100px;

}