/* GENERAL */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* BODY DE LA PAGINA DE CONTACTO*/
.fondo_contacto {
    background: linear-gradient(rgba(0, 0, 0, 0.473)), url(../img/preview.jpg);
    background-size: cover;
    /* Cubre toda la pagina con la imagen (creo q también la estira) */
    background-attachment: fixed;
    /* Hace que la img quede estática */
    margin: 0;
    /* Corta los bordes de los lados que tenía el cuadro de navegación */
}

.subtitulo_contacto {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    text-align: left;
    margin-bottom: 10px;
    padding-left: 10px;
    letter-spacing: 5px;
}

.texto_contacto {
    font-family: Arial, sans-serif;
    font-size: 22px;
    color: #e0e0e0;
    line-height: 1.5;
    margin-bottom: 10px;
    padding-left: 10px;
    text-align: justify;
}


.seccion_contacto {
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    min-height: 83vh;
}

.caja_contacto {
    width: 550px;
    padding: 50px;
}

.form_contacto {
    background-color: rgba(255, 0, 0, 0);
    padding: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative;
}

.inputtext {
    width: 100%;
    height: 40px;
    letter-spacing: 1px;
    background: rgba(255 255 255 / .1);
    outline: none;
    border: 3px solid transparent;
    transition: .3s;
    color: #e0e0e0;
}

.inputtext:hover {
    background: rgba(255, 255, 255, 0.301);
}

.messagetext {
    width: 100%;
    height: 130px;
    letter-spacing: 1px;
    background: rgba(255 255 255 / .1);
    outline: none;
    border: 3px solid transparent;
    transition: .3s;
    color: #e0e0e0;
    resize: none;
}

.messagetext:hover {
    background: rgba(255, 255, 255, 0.171);
}

.buttontext {
    width: 100%;
    height: 40px;
    background: rgb(161, 161, 161);
    outline: none;
    border: 3px solid transparent;
    transition: .3s;
    color: #000000;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.buttontext:hover {
    background: rgb(255, 255, 255);
}

/* FOOTER */
/*traslado a estilos.css*/
