* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

.anticipio-nosotros img {
    height: 820px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    margin-top: 100px;
    position: relative;
}

.contenedor-nosotros {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50%;
}

.texto-nosotros {
    padding: 100px 300px;

}
.texto-nosotros h1 {
    font-size: 50px;
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 4px rgba(55, 52, 52, 0.777);
    text-align: left;
    margin-bottom: 20px;
}

.texto-nosotros p {
    font-size: 20px;
    margin-bottom: 20px;
}
