.contenedor_chocolateria {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
    background-color: azure;
    margin-bottom: 40px;
    margin-inline: 280px;
    border-radius: 10px;
    border: 2px solid black;
}

/*Por ahora chocolatería comparte los estilos de cines*/