/* GENERAL */
/* Para posicionar correctamente el cuerpo (header, main y footer)*/
/* Oderna el header, main y footer en forma de filas,
luego se modifica para que lo haga como columnas, y
finalmente que ocupe el espacio de toda la ventana del
navegador */

body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

main {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 83vh;
}




/* BODY DE LA PAGINA DE CONTACTO*/

.fondo_contacto {
    background: linear-gradient(rgba(0, 0, 0, 0.473)), url(../img/preview.jpg);
    background-size: cover;
    /* Cubre toda la pagina con la imagen (creo q también la estira) */
    background-attachment: fixed;
    background-position: center;
    /* Hace que la img quede estática */
    /*margin: 0;/*
    /* Corta los bordes de los lados que tenía el cuadro de navegación */
}


/*<+-- Sección Contacto --+>*/
.section_contacto {
    width: fit-content;
    min-height: fit-content;
    margin-block: 10%;
    margin-inline: 30px;
    display: flex;
    flex-direction: row;
    gap: 100px;
    color: aliceblue;
}

/*-- CONTENEDOR DEL TEXTO DE CONTACTO --*/
.contenedor_contacto {
    align-content: center;
    max-width: 460px;
}

.titulo_contacto {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    letter-spacing: 5px;
    margin: 0;
    margin-bottom: 10px;
    text-align: left;
}

.texto_contacto {
    font-family: Arial, sans-serif;
    font-size: 22px;
    color: #e0e0e0;
    line-height: 1.5;
    text-align: justify;
}

/*+ CONTENEDOR DEL FORMULARIO DE CONTACTO +*/
.form_contacto {
    background-color: rgba(255, 0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    width: auto;
}

/*+ CONTENEDOR DEL FORMULARIO DE CONTACTO +*/
.inputtext {
    width: 100%;
    height: 40px;
    letter-spacing: 1px;
    background: rgba(255 255 255 / .1);
    outline: none;
    border: 3px solid transparent;
    transition: .3s;
    color: #e0e0e0;
}

.inputtext:hover {
    background: rgba(255, 255, 255, 0.301);
}

.messagetext {
    width: 100%;
    height: 130px;
    letter-spacing: 1px;
    background: rgba(255 255 255 / .1);
    outline: none;
    border: 3px solid transparent;
    transition: .3s;
    color: #e0e0e0;
    resize: none;
    font-family: Arial;
}

.messagetext:hover {
    background: rgba(255, 255, 255, 0.171);
}

.buttontext {
    width: 100%;
    height: 40px;
    background: rgb(161, 161, 161);
    outline: none;
    border: 3px solid transparent;
    transition: .3s;
    color: #000000;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.buttontext:hover {
    background: rgb(255, 255, 255);
}

@media (orientation: portrait) {
    .section_contacto {
        flex-direction: column;
        gap: 50px
    }

    .titulo_contacto {
        text-align: center;
    }

    .texto_contacto{
        text-align: center;
    }

    .texto_contacto div {
        margin-top: 20px;
    }

    .form_contacto {
        margin-inline: 20px;
    }
}

@media (orientation: portrait) and (max-width: 375px) {
    .texto_contacto{
        text-align: center;
        font-size: 20px;
    }

    .texto_contacto div {
        margin-top: 20px;
        font-size: 20px;
    }
}

@media (orientation: portrait) and (max-width: 360px) {
    .titulo_contacto {
        font-size: 40px;
    }

    .texto_contacto{
        text-align: center;
        font-size: 16px;
    }

    .texto_contacto div {
        margin-top: 20px;
        font-size: 16px;
    }
}

@media (orientation: landscape) and (max-width: 900px) {
    .section_contacto {
        gap: 50px
    }
}

@media (orientation: landscape) and (max-width: 850px) {
    .section_contacto {
        flex-direction: column;
        gap: 50px
    }

    .titulo_contacto {
        text-align: center;
    }

    .texto_contacto{
        text-align: center;
    }

    .texto_contacto div {
        margin-top: 20px;
    }

    .form_contacto {
        margin-inline: 20px;
    }
}